img,
embed,
object,
video {
    max-width: 100%;
}

.landingpage-gallery {
    display: grid;
    grid-template-columns: 20em 20em 20em;
    grid-template-rows: 7em 20em 20em 20em;
    gap: 2em 2em;
}


.gallerieth1 {
    grid-column: 1 / 4;
    grid-row: 1 / 2;
    grid-column: span 3;
    justify-self: center;
}

main {
    max-width: 70rem;
    margin: 0 auto;
}

h1 {
    grid-column: 1 / 4;
    grid-row: 1 / 2;
    grid-column: span 3;
    justify-self: center;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 1em;
    font-family: sans-serif;
    padding: 2em;
}

.box {
    border: 1px solid #ccc;
    display: flex;
    align-items: center;
    justify-content: center;
}

.vinter-box {
    grid-column: 1 / 1;
    grid-row: 2 / 3;
}

.vinter5-box {
    grid-column: 2 / 2;
    grid-row: 2 / 3;
}

.vinter4-box {
    grid-column: 3 / 3;
    grid-row: 2 / 3;
}

.vinter3-box {
    grid-column: 1 / 1;
    grid-row: 3 / 4;
}

.vinter2-box {
    grid-column: 2 / 2;
    grid-row: 3 / 4;
}

.vinter1-box {
    grid-column: 3 / 3;
    grid-row: 3 / 4;
}

.vinter-video {
    grid-column: 2 / 2;
    grid-row: 4 / 5;
}

.vinter-video {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
    max-width: 100%;
}

.vinter-video iframe,
.vinter-video object,
.vinter-video embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}


