.header {
    background-color: $head-color;
    display: flex;
    flex-direction: row;
    padding: 5px;
    justify-content: space-between;
    align-items: center;
    border-color: $accent-color;
    border-radius: 2px;
    border: 8px solid $accent-color;
}

.site-header .title a {
    text-decoration: none;
    color: $font-color-head;
}

.title a h1 {
    margin: 0;
    margin-left: 1.5px;
    align-items: center;
}

.site-header .title a:hover {
    text-decoration: underline;
}

.nav li {
    display: inline-block;
    margin-right: 7px;
    position: relative;
    color: $font-color-head;
}

.nav a {
    color: $font-color-head;
}
