@media (max-width: 767px) {
    .nav {
        ul {
            display: flex;
            justify-content: flex-end;
            padding: 1em 0;
            list-style: none;
        }

        li { display: inline-block; }
    }

    .landingpage {
        display: grid;
        grid-column: 1;
        grid-row: 5em 7em 7em 7em 7em 7em 7em 7em;
    }

    .landingpage h1 {
        grid-column: 1 / 1;
        grid-row: 1 / 1;
        grid-column: span 1;
        justify-self: center;
    }

    .git-box {
        background-color: #ff4136;
        grid-column: 1 / 1;
        grid-row: 8 / 8;
    }

    .php-box {
        background-color: #0074d9;
        grid-column: 1 / 1;
        grid-row: 2 / 2;
    }

    .css-box {
        background-color: #d9009f;
        grid-column: 1 / 1;
        grid-row: 3 / 3;
    }

    .html-box {
        background-color: #4678a4;
        grid-column: 1 / 1;
        grid-row: 4 / 4;
    }

    .sql-box {
        background-color: #2ecc40;
        grid-column: 1 / 1;
        grid-row: 5 / 5;
    }

    .js-box {
        background-color: rgb(68, 92, 74);
        grid-column: 1 / 1;
        grid-row: 6 / 6;
    }

    .python-box {
        background-color: rgb(192, 99, 99);
        grid-column: 1 / 1;
        grid-row: 7 / 7;
    }

    .text {
        grid-column: 1 / 1;
        grid-row: 2 / 3;
    }

    .aside {
        visibility: hidden;
    }

}
