@media (max-width: 668px) {
    .nav {
        ul {
            display: flex;
            justify-content: flex-end;
            padding: 1em 0;
            list-style: none;
        }

        li { display: inline-block; }
    }

    .landingpage h1 {
        grid-column: 1 / 1;
        grid-row: 1 / 1;
        grid-column: span 1;
        justify-self: center;
    }

    .landingpage {
        display: grid;
        grid-template-columns: 20em;
        grid-template-rows: 5em 7em 7em 7em 7em 7em 7em 7em 7em;
        gap: 2em;
    }

    .git-box {
        background-color: #320402;
        grid-column: 1 / 1;
        grid-row: 8 / 8;
    }

    .php-box {
        background-color: #042c4f;
        grid-column: 1 / 1;
        grid-row: 2 / 2;
    }

    .css-box {
        background-color: #540940;
        grid-column: 1 / 1;
        grid-row: 3 / 3;
    }

    .html-box {
        background-color: #1e3243;
        grid-column: 1 / 1;
        grid-row: 4 / 4;
    }

    .sql-box {
        background-color: #0a2e0e;
        grid-column: 1 / 1;
        grid-row: 5 / 5;
    }

    .js-box {
        background-color: rgb(35, 46, 37);
        grid-column: 1 / 1;
        grid-row: 6 / 6;
    }

    .python-box {
        background-color: rgb(53, 28, 28);
        grid-column: 1 / 1;
        grid-row: 7 / 7;
    }

    .text {
        grid-column: 1 / 1;
        grid-row: 2 / 3;
    }

    .aside {
        visibility: hidden;
    }
    
    main {
        max-width: 70rem;
        margin: 0 auto;
        padding: 1em;
    }
    
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    
    body {
        font-size: 1em;
        font-family: sans-serif;
        padding: 2em;
    }
    
    .box {
        border: 1px solid #ccc;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}
