.landingpage {
    display: grid;
    grid-template-columns: 20em 20em 20em;
    grid-template-rows: 7em 13em 14em 13em 10em;
    gap: 2em 2em;
}

.landingpage h1 {
    grid-column: 1 / 4;
    grid-row: 1 / 1;
    grid-column: span 3;
    justify-self: center;
}

h1 {
    grid-column: 1 / 4;
    grid-row: 1 / 1;
    grid-column: span 3;
    justify-self: center;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 1em;
    font-family: sans-serif;
}

.box {
    border: 1px solid #ccc;
    display: flex;
    align-items: center;
    justify-content: center;
}

.git-box {
    background-color: #410502;
    grid-column: 1 / 1;
    grid-row: 2 / 2;
}

.php-box {
    background-color: #012341;
    grid-column: 2 / 2;
    grid-row: 2 / 2;
}

.css-box {
    background-color: #4b0438;
    grid-column: 3 / 3;
    grid-row: 2 / 2;
}

.html-box {
    background-color: #0f1f2d;
    grid-column: 1 / 1;
    grid-row: 3 / 3;
}

.sql-box {
    background-color: #032d08;
    grid-column: 2 / 2;
    grid-row: 3 / 3;
}

.js-box {
    background-color: rgb(2, 49, 14);
    grid-column: 3 / 3;
    grid-row: 3 / 3;
}

.python-box {
    background-color: rgb(39, 14, 14);
    grid-column: 1 / 1;
    grid-row: 4 / 4;
}

.aside {
    grid-column: 1 / 1;
    grid-row: 2 / 3;
}

.text {
    grid-column: 2 / 4;
    grid-row: 2 / 3;
}
