@import '../../shared/fontawesome/scss/fontawesome';
$fa-font-path: '../../shared/fontawesome/webfonts';
@import '../../shared/fontawesome/scss/brands';
@import '../../shared/fontawesome/scss/solid';
@import '../../shared/fontawesome/scss/regular';

@import '../../node_modules/normalize.css/normalize';
@import 'variables';
@import 'report';

@import 'blockquotes';
@import 'code';

@import 'mobile';

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap');

* {
    font-family: 'Montserrat', sans-serif;
}

h2 {
    font-family: 'Montserrat', sans-serif;
}

h1 {
    font-family: 'Montserrat', sans-serif;
}

body {
    background-color: $background-color;
}

* {
    color: $font-color;
}

.color-box {
    background-color: $box1;
    grid-column: 1/1;
    grid-row: 2/2;
}

.load-box {
    background-color: $box2;
    grid-column: 2/2;
    grid-row: 2/2;
}

.design-box {
    background-color: $box3;
    grid-column: 3/3;
    grid-row: 2/2;
}

.main {
    margin: 0 auto;
}
