$font-color: #000;
$font-alternative-color: #fff;
$font-color-head: #fff;

$accent-color: #7c8670;
$background-color: rgb(255, 251, 251);

$head-color: #474e3f;
$body-color: rgb(240, 240, 240);
$footer-color: rgb(195, 195, 192);
$footer-accent: rgb(101, 101, 101);


$box1: rgb(202, 202, 200);
$box2: rgb(179, 179, 179);
$box3: rgb(174, 174, 171);
