$font-color: #000;
$font-alternative-color: #fff;
$accent-color: #989894;
$background-color: rgb(225, 225, 220);
$background-alternative-color: #e0fbfc;
$background-color: rgb(225, 225, 220);
$box1: rgb(202, 202, 200);
$box2: rgb(179, 179, 179);
$box3: rgb(174, 174, 171);
